<div class="container device">
  <div class="device_frame">
      <h1 class="title">
      アカウント
      </h1>

      <table>

         <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
         <%= render "devise/shared/error_messages", resource: resource %>
         
         <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
         </tr>
         
         <tr>
           <th><% if devise_mapping.confirmable? && resource.pending_reconfirmation? %></th>
           <td>Currently waiting confirmation for: <%= resource.unconfirmed_email %></td>
         </tr>
              <% end %>
         
         <tr>
           <th>新しいパスワード</th>
           <td><%= f.password_field :password, autocomplete: "new-password" %></td>
         </tr>
              <% if @minimum_password_length %>
         <br />
          <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
         
         <tr>
           <th>確認用パスワード</th>
           <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
         </tr>
         
         <tr>
           <th>現在のパスワード</th>
           <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
         </tr>
         
         <div>
           
           <ul>
             <li><%= f.submit "変更する" %></li>
           </ul>
           <ul>
             <li><%= link_to "戻る", :back %></li>
           </ul>
           
         </div>
         
         <% end %>
   
  


 


