<div class="top-wrapper">
  <div class="main-search">
    <div class="form-fream">
      <div class="form-area">
        <h2>Potepan Shareでまだ体験したことのない旅をしよう</h2>
        <div class="search-field">
          <p>エリア</p>
            <%= search_form_for @q_header, url: search_rooms_path do |f| %>
            <%= f.search_field :name_cont, placeholder: "エリア" %>
            <%= f.submit "エリア検索" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="area-index-wrapper">
      <h2>おすすめのエリア</h2>
      <div class="areas">
        <div class="area">
          <%= link_to "/search?search_area=東京&commit=探す" do %>
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg" alt="tokyo">
            <span>東京</span>
          <% end %>
        </div>
        <div class="area">
          <%= link_to "/search?search_area=大阪&commit=探す" do %>
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg" alt="osaka">
            <span>大阪</span>
          <% end %>
        </div>
        <div class="area">
          <%= link_to "/search?search_area=京都&commit=探す" do %>
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg" alt="kyoto">
            <span>京都</span>
          <% end %>
        </div>
        <div class="area">
          <%= link_to "/search?search_area=札幌&commit=探す" do %>
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg" alt="sapporo">
            <span>札幌</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

