<div class="container device">
  <div class="device_frame">
      <h1 class="title">
      ログイン
      </h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table>
        <tr>
          <th><%= f.label :email, "必須", class: "required" %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス" %></td>
        </tr>
        <tr>
          <th><%= f.label :password, "必須", class: "required" %></th>
          <td><%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード" %></td>
        </tr>
      </table>
      <div>
        <ul>
          <li><%= f.submit "ログイン" %></li>
          <li><%= link_to "新しいアカウントを作成", "/users/sign_up" %></li>
        </ul>
      </div>
      <% end %>
     
   </div>
  </div>

 

        
   
    
    
 
     

       

   

