

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<div class="container-fiuld room-posts">
  <h4 class="pb-4">登録済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= attachment_image_tag @room, :image, fallback: "no-image.png", size:'100x100' %></td>
          <td class="posts-name"><%= room.name %></td>
          <td class="posts-content"><%= room.introduction %></td>
          <td class="price-icon">¥<%= room.price %></td>
          <td><%= room.created_at.to_s(:datetime_jp) %></td>
        </tr>
    </tbody>
    <% end %>
  </table>
</div>
      
    

 
    




 
   
  
  
