<div class="room-frame-inner">
  <div class="room-image-out">
    <%= attachment_image_tag @room, :image, fallback: "no-image.png" %>
  </div>
  
  <div class="room-profile">
    <p class="room-profile-name"><%= @room.name %></p>
    <p class="room-profile-city"><%= @room.address %></p>
    <p class="room-introduction^icon"><%= @room.introduction %></p>
  </div>
</div>



<%= form_with model: @resarvation, url: {controller: 'resarvations', action: 'new' }, local: true do |f| %>
<%= f.hidden_field :room_id, value: @room.id %>
<div class="form-group event__name">
  
    <%= f.label :start ,"開始日" %>
    <%= f.datetime_field :start, class: "form-control datetimepicker-input", id: "start_time", data: {toggle: "datetimepicker", target: "#start_time"} %>
   
 </div>
 
 <div class="form-group event__start-time">
    <%= f.label :end ,"終了日" %>
    <%= f.datetime_field :end, class: "form-control datetimepicker-input", id: "end_time", data: {toggle: "datetimepicker", target: "#end_time"} %>
 </div>
 
  <div class="form-group event__start-time">
    <%= f.label :people ,"人数" %>
    <%= f.number_field :people, class: "form-control datetimepicker-input", id: "people", data: {toggle: "datetimepicker", target: "#people"} %>
  </div>
  
    <%=  f.submit "予約する", class: "btn w-100" %>
 <% end %>

